<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" type="text/css" />

    <title>Contribute Sighting</title>
  </head>
  <body>
    <%- include('../templates/header'); -%>

    <div class="main-div">
      <h1>Contribute Sighting</h1>
      <div class="form-div">
        <!-- Form for the main /sighting URL -->
        <form action="/contribute" method="POST">
          <div class="input-div">
            <label for="date">Date</label>
            <input type="date" name="date" />
          </div>
          <div class="input-div">
            <label for="time">Time</label>
            <input type="time" name="time" />
          </div>

          <div class="input-div">
            <label for="location">Location</label>
            <input type="text" name="location" />
          </div>

          <div class="input-div">
            <label for="shape">Shape</label>
            <input type="text" name="shape" />
          </div>

          <div class="input-div">
            <label for="duration">Duration</label>
            <input type="text" name="duration" />
          </div>

          <div class="input-div">
            <label for="summary">Summary</label>
            <input type="text" name="summary" />
          </div>

          <div class="input-div">
            <label for="text">Incident</label>
            <textarea name="text" rows="5"></textarea>
          </div>

          <button type="submit" value="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
