<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    <title>New Sighting</title>
  </head>
  <body>
    <!-- Text when the sighting/index -->
    <div>
      <p><%= text %></p>
      <p><%= date %></p>
    </div>
  </body>
</html>
