<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank you for your contribution!</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>
  <body>
    <%- include('../templates/header'); -%>

    <div class="main-div">
      <h1>Thank you for your contribution!</h1>
      <p>We will review your submission before we add it to our database.</p>

      <div>
        <a href="/contribute/<%= index %>" class="button">View Contribution</a>
        <a href="/contribute/<%= index %>/edit " class="button"
          >Edit Contribution</a
        >
      </div>
    </div>
  </body>
</html>
