@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;1,100&display=swap");

@font-face {
  font-family: "Minecraft Italic";
  src: url("./assets/MinecraftItalic.woff2") format("woff2");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:root {
  --font-small: 0.85rem;
  --bold: "Minecraft Italic";
  --monospace: "IBM Plex Mono", monospace;
}

html {
  --black: #141414;
  --darkest-gray: #202124;
  --dark-gray: #333;
  --gray: #484848;
  --light-gray: #ababab;
  --white: white;
}

/* ====== CONTENT ====== */

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  align-items: baseline;
  background-color: var(--black);
  color: var(--white);
  display: block;
  margin: 0 auto;
}

/* ====== TYPOGRAPHY ====== */

html {
  font-size: 14px;
}

body {
  font-family: var(--monospace);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.325;
}

h1,
.h1,
h2,
h3,
span.title {
  font-family: var(--bold);
}

h1,
.h1,
span.title {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1;
  border-bottom: none;
}

.cell-header {
  font-size: 10px;
  font-style: normal;
}

.h1:hover {
  color: var(--light-gray);
  border-bottom: none;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1;
}

h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

a {
  color: var(--white);
  text-decoration: none;
  border-bottom: 0.5px solid var(--gray);
  position: relative;
}

a:hover {
  color: var(--light-gray);
  border-bottom: 0.5px solid var(--dark-gray);
  cursor: pointer;
}

a.icon-sort {
  border-bottom: none;
}
/* ====== HEADER ====== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 24px 16px;
  background-color: var(--black);
}

nav a,
nav a:hover {
  margin: 0 12px 0 0;
  font-size: 12px;
  border-bottom: none;
  font-style: italic;
  text-align: right;
}

button.icon {
  margin: 24px 12px 0 0;
}

button.icon.icon-row {
  margin: 0px;
}

/* ====== TOOLTIP ====== */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: max-content;
  font-size: 8px;
  font-style: normal;
  background-color: #000;
  color: var(--white);
  text-align: left;
  padding: 4px 6px;
  position: absolute;
  z-index: 1;
}

.tooltip-below {
  top: calc(100% + 4px);
  left: 50%;
  margin-left: -20px;
  /* Use half of the width to center the tooltip but this is off-center*/
}

.tooltip-top {
  bottom: calc(100% + 10px);
  right: 50%;
  margin-right: -10px;
  /* Use half of the width to center the tooltip but this is off-center*/
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* ====== PAGE CONTAINER ====== */
/* .main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.form-div {
  position: absolute;
  top: 60px;
  right: 24px;
  padding: 24px;
  z-index: 1;
  min-width: 40vw;
  background-color: var(--black);
  border: 1px solid var(--gray);
  margin-bottom: 60px;
}

.form-div h1 {
  margin: 0 0 24px 0;
}

h1.icon-row {
  margin: 0px;
}

@media screen and (max-width: 580px) {
  .form-div {
    right: 20px;
    left: 20px;
    margin: auto;
    min-width: 80vw;
    padding: 16px;
  }
}

/* ====== INPUT FIELDS ====== */

label,
span.label {
  font-size: 10px;
  color: var(--light-gray);
  padding-bottom: 4px;
}

input,
textarea,
span.input {
  font-family: var(--monospace);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.325;
}

input,
textarea {
  background-color: var(--black);
  color: var(--white);
  outline: none;
  width: 100%;
  border: none;
  border-style: none;
  border-bottom: 1px solid var(--dark-gray);
}

input:hover {
  border-bottom: 1px solid var(--gray);
}

input::placeholder {
  font-style: italic;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(35%);
}

.input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

/* ====== RULES ====== */

hr {
  border: 0;
  border-bottom: 1px solid var(--gray);
  margin: 1.5rem 0;
}

/* ====== MEDIA ====== */

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

/* ========== CONTRIBUTE PAGE ======== */

button.submit-btn {
  background: var(--black);
  color: var(--white);
  width: 100%;
  padding: 6px;
  font-family: var(--monospace);
  text-decoration: none;
  border: 1px solid var(--white);
  margin-top: 16px;
}

button:hover {
  background: var(--darkest-gray);
}

/* ====== TABLE DIRECTORY ====== */

.wrapper {
  margin: 0 auto;
  min-width: 100%;
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  display: table;
}

.row {
  display: table-row;
  transition: background-color 0.5s ease;
  background-color: transparent;
}

.row.entry:hover {
  background-color: var(--darkest-gray);
  cursor: pointer;
}

.row.header {
  font-style: italic;
}

@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 8px;
  }

  .row.header {
    padding: 0;
    height: 6px;
  }

  .row.cell {
    margin-bottom: 10px;
  }
}

.cell {
  padding: 12px 12px;
  display: table-cell;
  border-bottom: 1px solid var(--light-gray);
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 8px 16px;
    display: block;
    border-bottom: none;
  }
  .cell:nth-last-of-type(1) {
    border-bottom: 1px solid var(--light-gray);
  }

  .row.header {
    display: none;
  }
}

/* ====== FOOTER ====== */

.content {
  min-height: calc(100vh - 40px);
}

.footer-div {
  border-top: 1px solid var(--darkest-gray);
  background-color: var(--black);
  min-width: 100vw;
  padding: 12px 6px;
  direction: rtl;
}

footer a.button,
a.icon,
button.icon {
  cursor: pointer;
  padding: 4px 6px;
  border: 1px solid var(--light-gray);
  border-radius: 50%;
  transition: background-color 0.3s ease-in;
  background-color: transparent;
}

form.button {
  display: inline;
}

footer a.button:hover,
a.icon:hover,
button.icon:hover {
  background-color: var(--dark-gray);
}

/* ====== BUTTON FIELDSET ====== */

.btn-horizontal-fieldset {
  display: flex;
  justify-content: flex-start;
}

.btn-horizontal {
  margin: 0 12px 0 0;
}

/* ====== KALEIDESCOPE ====== */

div.canvas-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

div.canvas-holder canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 100px), -50%);
}

div.info {
  position: fixed;
  border: 1px solid var(--gray);
  background-color: var(--black);
  top: 72px;
  right: 24px;
  max-width: 200px;
  height: calc(100vh - 120px);
  padding: 24px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ====== DELETE PAGE ====== */

.delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.delete-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 240px;
  min-height: 240px;
  padding: 48px;
  border: 1px solid var(--dark-gray);
  border-radius: 50%;
  text-align: center;
}

/* ===== EDIT PAGE ===== */

.text-icon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 0 24px 0;
}

/* ===== TILE VIEW ====== */

.swiper-image-inner.input-div.info {
  font-size: 10px;
}

span.info {
  color: var(--white);
}

.page-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  height: 100%;
  width: 100%;
}

.swiper-image {
  width: 50%;
  height: 100%;
}
.swiper-image-inner,
.swiper-text-inner {
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  background-blend-mode: overlay;
}

.swiper-image-inner.swiper-text {
  padding: 4rem;
}
.swiper-image {
  transition: all 1s ease-in;
}

.swiper-image-inner.swiper-text {
  transition: all 0.2s ease-in;
  background-color: var(--black);
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--black);
  overflow: hidden;
  display: flex;
}
/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height;
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
